
.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(231, 40, 40, 0.5);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
    margin-bottom: 3rem;
}
.stopwatch-display{
    background: rgba(22, 97, 12, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}

.task2{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.task2 > div, .tel, .save, .err {
    margin: .2rem 0;
    width: fit-content;
    padding: .2rem;
}
.done{
    background-color: rgb(49, 253, 83);
    margin: .2rem 0;
    width: fit-content;
    padding: .2rem;
}

.slider{
    box-sizing: border-box;
    border: 1px solid grey;
    width: 25rem;
    height: 16.7rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.one, .two, .three, .four{
    width: inherit;
    width: 400px;
}


.photo{
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: all .5s linear;
}

#left, #right{
    margin: 3rem;
    color: #fff;
    background-color: rgb(5, 179, 179);
    border: 1px solid rgb(3, 121, 121);
    font-size: large;
    box-sizing: border-box;
}

#left:hover, #right:hover{
    border: 1.1px solid rgb(0, 24, 24);
}