#cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 9rem;
    height: 9rem;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(9, 37, 61);
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
    position: relative;
}

.count{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 5px 0px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .8rem;
    padding: .3rem;
}