section{
    margin-bottom: 2rem;
    border: 1px solid #000;
    width: 50%;
    padding: .3rem;
}

.form{
    position: relative;
}

input{
    width: 30%;
    padding: 1rem;
    outline: none;
}

#logo-place{
    position: absolute;
    top: 0;
    right: 0;
}

img{
    display: none;
    height: 41px;
}

.green{
    border: 2px solid #03b621;
}

.red{
    border: 2px solid #e40f0f;
}

#task4{
    display: flex;
    align-items: center;
}

button:hover{
    box-shadow: 0px 0px 3px 1px #e40f0f;
}