body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#btn{
    color: #fff;
    background-color: rgba(4, 79, 102, 0.774);
    border: none !important;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 1rem auto auto 1rem;
    box-shadow: 3px 2px 2px 1px rgb(172, 223, 214);
    transition: all .2s linear;
}
#btn:hover {
    transform: scale(1.02);
    box-shadow: 4px 3px 3px 2px rgb(172, 223, 214);
}

.width-class {
    width: 10%;
    height: 30px;
    border: 2px solid grey;
    margin: 5px;
}


section {
    /*border: 3px solid grey;*/
    width: 60%;
    height: 35vw;
    margin: 0 auto;
    padding: 5px auto;
    
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none !important;
    width: auto;
    height: auto;

}

div {
    border-radius: 50%;
    margin: 10px;
}

.btn2 {
    width: fit-content;
    margin: 1rem auto auto 1rem;
    color: #fff;
    background-color: rgba(4, 79, 102, 0.774);
    border: none !important;
    padding: 5px;
}

