 .task3{
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    background-color: rgb(134, 133, 133);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.but{
    border: 1px solid black;
    text-align: center;
}

.buttons > *{
    width: 15%;
    height: 20px;
}

.gone{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(8, 117, 26);
}

.colours{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.colours > p{
    width: 15%;
    border: 1px solid #333;
    cursor: pointer;
}

.colours > p:hover{
    box-shadow: 0px 0px 3px 1px #000;
}