body{
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
    overflow: hidden;
    
}
#ball{
    left: 50vw;
    top: 5vh;
    
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all linear;
}

.score{
    margin: 1vh 5vw;
    color: #fff;
    font-size: 3vh;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    font-size: 4vh;
}

.re-start{
    width: 100vw;
    height: 30vh;
    background-color: rgb(133, 131, 131);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10vh;
    visibility: hidden;
}

.re-start > button{
    border: none;
    height: 4vh;
}

#player{
    bottom: 1vw;
    box-sizing: border-box;
    position: absolute;
    width: 20vw;
    height: 2vh;
    background-color: #fff;
    transition: all linear;
    display: flex;
    align-items: center;
}


.hello{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    visibility: visible;
    color: #fff;
    font-size: 4vh;
}

.hello > div, .hello > button{
    border: none;
    width: 30%;
    height: 20%;
    box-shadow: 0px 0px 4px 1px #fff;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 5vh;
    font-weight: 700;
    font: caption;
}

.hello > div > input{
    border: none;
    height: 30%;
    text-align: center;
    font-weight: 900;
    font-size: 2.7vh;
    margin: 0;
}

#btn:hover{
    box-shadow: 0px 0px 8px 1px #fff;
}

.alert{
    position: absolute;
    border: 1px solid rgb(94, 17, 17);
    top: 39.75vh;
    right: 3vw;
    box-shadow: 0px 0px 4px 1px rgb(112, 18, 18) !important;
    visibility: hidden;
    transition: 1s all linear;
    color: #fff !important;
}
