body{
    margin: 0;
}
.tennis{
    background-color: rgb(230, 227, 65);
    width: 100%;
    height: 50rem;
    overflow: hidden;
}
section{
    width: 40rem;
    height: 28rem;
    border: 1px solid rgb(78, 61, 61);
    background-color: rgb(8, 71, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.gameplay-border{
    width: 38rem;
    height: 25rem;
    border: 1px solid #fff;
    
}

.play-game{
    /*
    display: none;*/
    /**/
    position: absolute;
    top: 10rem;
    left: 10rem;
    box-shadow: -28px -18px 10px 0px rgb(22, 21, 21);
    opacity: 1;
    transition: 2s all linear;
}

.play-game > .gameplay-border{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-game > .gameplay-border > button{
    width: 15rem;
    height: 4rem;
    font-size: 3rem;
}
.play-game > .gameplay-border > button:hover{
    box-shadow: 2px 2px 0px 0px #000; 
}
.players{
    /*
    display: none;*/
    /**/
    position: absolute;
    top: 6rem;
    left: 6rem;
    box-shadow: -28px -18px 10px 0px rgb(22, 21, 21);
    opacity: 1;
    transition: 2s all linear;
}

.players > .gameplay-border{
    display: flex;
    color: #fff;
    font-size: 3rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.players > .gameplay-border > button{
    background-color: #fff;
    border: none;
    font-weight: 500;
    font-size: 2rem;
    border-radius: 2px;
}
.players > .gameplay-border > button:hover{
    box-shadow: 2px 2px 0px 0px #000; 
}

.players-names{
    display: flex;
    flex-direction: row;
}
.players-names > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 3rem;
    font-size: 2rem;
}
.players-names > div > input{
    color: rgb(255, 255, 254);
    background-color: rgba(0, 128, 60, 0.575);
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    width: 7rem;
}
#alert{
    position: absolute;
    left: 24rem;
    top: 9rem;
    width:17rem;
    height: 10rem;
    background-color: rgb(8, 71, 37);
    box-shadow: -18px -10px 20px 17px rgb(22, 21, 21);
    display: none;
    justify-content: center;
    align-items: center;
    
}
#alert > div {
    box-sizing: border-box;
    width: 15rem;
    height: 8rem;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.display{
    position: absolute;
    top: 2rem;
    left: 2rem;
    box-shadow: -28px -18px 10px 0px rgb(22, 21, 21);
}

.gameplay{
    position: relative;
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 38rem;
    height: 25rem;
    border: 1px solid #fff;
    position: relative;
}

.pl1, .pl2, .score{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 2rem;
}

.score{
    width: 9rem;
    display: flex;
    justify-content: space-between;
}

#start{
    width: 5rem;
    box-shadow: 2px 2px 2px 0px #000;
    border-radius: 5px;
    border: none;
    transition: 1ms all linear;
}

#start:hover{
    box-shadow: 2px 2px 0px 0px #000; 
}

#ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #000;
    transition: all;
    position: absolute;
    top: 100px;
    left: 100px
    
}

#rocket1, #rocket2{
    width: .5rem;
    height: 7rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #000;
    position: absolute;
}

#rocket1{
    left: 1rem;
    top: 71%;
}
#rocket2{
    right: 1rem;
    top: 1%;
}