body{
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.start-game{
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    right: 100px;
    width: 20%;
    height: 500px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    transition: 1s all linear;
}
.start-game > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.start-game > button{
    border: 1px solid #fff;
    padding: 1rem;
    background-color: #333;
    font-size: 1.5rem;
    color: #fff;
    width: 80%;
}

p{
    font-size: 1.2rem;
}

.start-game > button:hover{
    box-shadow: 0px 0px 3px 1px #fff;
}

#squash{
    margin-top: 20px;
}

.user-name > input{
    color: rgb(252, 7, 199);
    font-size: 1.3rem;
    font-weight: 700;
    width: 80%;
}

.name-score{
    color: #fff;
    width: 707px;
    height: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.name-score > div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
    opacity: .7;
}

#user-name{
    color: rgb(252, 7, 199);
}
.border{
    border-right: 2px solid #fff;
}


#ball{
    left: 47%;
    top: 46%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(0%, 0%);
    transition: all linear;
}
#board{
    box-sizing: border-box;
    border: 2px solid #fff;
    position: relative;
    width: 707px;
    height: 500px;
}
#rocket{
    box-sizing: border-box;
    position: absolute;
    width: .7rem;
    height: 6rem;
    background-color: #fff;
    right: .3rem;
    top: 13rem;
    transition: all linear;
}

#rocket2{
    box-sizing: border-box;
    position: absolute;
    width: .7rem;
    height: 6rem;
    background-color: #fff;
    left: .3rem;
    top: 13rem;
    transition: all linear;
}

.advise{
    color: #fff;
    opacity: .7;
    width: 707px;
    text-align: center;
}