.box{
    display: flex;
    flex-direction: row;
}

.box > div {
    margin-right: .4rem;
}

input{
    width: fit-content;
    margin: .4rem 0;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#array{
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.array{
    margin-top: 2rem;
}